In [2]:
%cd ~/repo/protein-transfer

/home/t-fli/repo/protein-transfer

In [3]:
%load_ext blackcellmagic

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("data/structure/secondary_structure/tape_ss3.csv")
df.head()

,sequence,ss3,split
0,AETVESCLAKSHTENSFTNVXKDDKTLDRYANYEGCLWNATGVVVC...,"[2, 2, 2, 0, 0, 0, 0, 0, 2, 2, 2, 2, 1, 1, 1, ...",train
1,ASQEISKSIYTCNDNQVXEVIYVNTEAGNAYAIISQVNEXIPXRLX...,"[2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, ...",train
2,XGSSHHHHHHSSGRENLYFQGXNISEINGFEVTGFVVRTTNADEXN...,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",train
3,SNADYNRLSVPGNVIGKGGNAVVYEDAEDATKVLKMFTTSQSNEEV...,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, ...",train
4,DTVGRPLPHLAAAMQASGEAVYCDDIPRYENELFLRLVTSTRAHAK...,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, ...",train

In [7]:
df.split.unique()

array(['train', 'valid', 'cb513', 'ts115', 'casp12'], dtype=object)

In [8]:
# need to set up as columns of sequence,target,set,validation
# for set train or test and add validation as true
df["validation"] = df["split"].apply(lambda x: True if x == "valid" else "")

In [9]:
df

,sequence,ss3,split,validation
0,AETVESCLAKSHTENSFTNVXKDDKTLDRYANYEGCLWNATGVVVC...,"[2, 2, 2, 0, 0, 0, 0, 0, 2, 2, 2, 2, 1, 1, 1, ...",train,
1,ASQEISKSIYTCNDNQVXEVIYVNTEAGNAYAIISQVNEXIPXRLX...,"[2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, ...",train,
2,XGSSHHHHHHSSGRENLYFQGXNISEINGFEVTGFVVRTTNADEXN...,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",train,
3,SNADYNRLSVPGNVIGKGGNAVVYEDAEDATKVLKMFTTSQSNEEV...,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, ...",train,
4,DTVGRPLPHLAAAMQASGEAVYCDDIPRYENELFLRLVTSTRAHAK...,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, ...",train,
...,...,...,...,...
11492,GLPVPSPPGTLLPGQSPDEAFARNSVVFLVPGAEYNWKNVVIRKPV...,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, ...",casp12,
11493,XNKYLFELPYERSEPGWTIRSYFDLXYNENRFLDAVENIVNKESYI...,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",casp12,
11494,GHXASGPWKLTASKTHIXKSADVEKLADELHXPSLPEXXFGDNVLR...,"[2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 2, ...",casp12,
11495,SMWAFSELPMPLLINLIVSLLGFVATVTLIPAFRGHFIAARLCGQD...,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, ...",casp12,
11496,XITLRKLIGNINXTKEPEQQSPLELWFERIIDVPLEKLTVEDLCRA...,"[2, 2, 1, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, ...",casp12,