In [1]:
%cd ~/protein-transfer

/home/francesca/protein-transfer

In [2]:
%load_ext blackcellmagic
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd
import numpy as np

from scipy.stats import spearmanr

In [4]:
df = pd.read_csv("data/proeng/aav/two_vs_many.csv")
df

,sequence,target,set,validation
0,MAADGYLPDWLEDTLSEGIRQWWKLKPGPPPPKPAERHKDDSRGLV...,-6.824780,train,NaN
1,MAADGYLPDWLEDTLSEGIRQWWKLKPGPPPPKPAERHKDDSRGLV...,-6.500402,train,NaN
2,MAADGYLPDWLEDTLSEGIRQWWKLKPGPPPPKPAERHKDDSRGLV...,0.900998,NaN,NaN
3,MAADGYLPDWLEDTLSEGIRQWWKLKPGPPPPKPAERHKDDSRGLV...,-4.843517,NaN,NaN
4,MAADGYLPDWLEDTLSEGIRQWWKLKPGPPPPKPAERHKDDSRGLV...,-6.566587,NaN,NaN
...,...,...,...,...
284004,MAADGYLPDWLEDTLSEGIRQWWKLKPGPPPPKPAERHKDDSRGLV...,-5.896930,test,NaN
284005,MAADGYLPDWLEDTLSEGIRQWWKLKPGPPPPKPAERHKDDSRGLV...,-4.811489,train,NaN
284006,MAADGYLPDWLEDTLSEGIRQWWKLKPGPPPPKPAERHKDDSRGLV...,-6.660150,test,NaN
284007,MAADGYLPDWLEDTLSEGIRQWWKLKPGPPPPKPAERHKDDSRGLV...,-4.741973,train,NaN
284008,MAADGYLPDWLEDTLSEGIRQWWKLKPGPPPPKPAERHKDDSRGLV...,-9.196749,test,NaN